In [1]:
import pandas as pd
import numpy as np

Idioms

In [2]:
df = pd.DataFrame(
    {
        "AAA": [4, 5, 6, 7], 
        "BBB": [10, 20, 30, 40], 
        "CCC": [100, 50, -30, -50]
    }
)

df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

if-then

In [3]:
'''Se o valor AAA for igual ou maior que 5, o valor BBB da linha correspondente será subtituído por -1'''
df.loc[df.AAA >= 5, "BBB"] = -1
df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [4]:
'''Se o valor AAA for igual ou maior que 5, o valor BBB e CCC da linha correspondente será subtituído por -1'''
df.loc[df.AAA >= 5, ["BBB", "CCC"]] = 555
df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

In [5]:
df.loc[df.AAA < 5, ["BBB", "CCC"]] = 2000
df

   AAA   BBB   CCC
0    4  2000  2000
1    5   555   555
2    6   555   555
3    7   555   555

In [6]:
df_mask = pd.DataFrame(
    {
        "AAA": [True] * 4, 
        "BBB": [False] * 4, 
        "CCC": [True, False] * 2
    }
)

df_mask

    AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False

In [7]:
'''na tabela df, substituir onde corresponde a False na tabela df_mask'''
df.where(df_mask, -1000)

   AAA   BBB   CCC
0    4 -1000  2000
1    5 -1000 -1000
2    6 -1000   555
3    7 -1000 -1000

In [8]:
df = pd.DataFrame(
    {
        "AAA": [4, 5, 6, 7], 
        "BBB": [10, 20, 30, 40], 
        "CCC": [100, 50, -30, -50]
    }
)

df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [9]:
'''Criar uma nova coluna, com os valores condicionais, ou seja, dependendo do valor da coluna AAA, se o valor em AAA for maior que 5 em logic será low, se não for igual ou menor que 5 será high'''

df["logic"] = np.where(df["AAA"] > 5, "high", "low") # se true: low, se else: high

df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

Splitting

In [10]:
df = pd.DataFrame(
    {
        "AAA": [4, 5, 6, 7], 
        "BBB": [10, 20, 30, 40], 
        "CCC": [100, 50, -30, -50]
    }
)
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [11]:
'''Mostrará somente os valores quando, na coluna AAA, os valores forem igual ou menor que 5'''
df[df.AAA <= 5]

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [12]:
'''Mostrará somente os valores quando, na coluna AAA, os valores forem maior que 5'''
df[df.AAA > 5]

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50

Building criteria

In [13]:
df = pd.DataFrame(
    {
        "AAA": [4, 5, 6, 7], 
        "BBB": [10, 20, 30, 40], 
        "CCC": [100, 50, -30, -50]
    }
)
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [14]:
"""Mostrará somente os valores da coluna AAA quando forem cumpridas as condições abaixo, as duas"""
df.loc[
    (df["BBB"] < 25) &
    (df["CCC"] >= -40),
    "AAA"
]
# & = AND

0    4
1    5
Name: AAA, dtype: int64

In [15]:
"""Mostrará somente os valores da coluna AAA quando forem cumpridas uma das condições abaixo"""
df.loc[
    (df["BBB"] > 25) |
    (df["CCC"] >= -40),
    "AAA"
]
# | = OR

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [16]:
'''Quando uma das condições abaixo for cumprida, o valor da coluna AAA na linha correspodente será subtituído por 999'''
df.loc[
    (df["BBB"] > 25) |
    (df["CCC"] >= 75),
    "AAA"
] = 999

df

   AAA  BBB  CCC
0  999   10  100
1    5   20   50
2  999   30  -30
3  999   40  -50

Dataframes

In [17]:
df = pd.DataFrame(
    {
        "AAA": [4, 5, 6, 7], 
        "BBB": [10, 20, 30, 40], 
        "CCC": [100, 50, -30, -50]
    }
)
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [18]:
'''
    - Aqui vai filtrar as linhas de acordo com as condições acima: se na coluna AAA o valor for igual ou menor que 6, e se a linha for correspondente ao indíce  que está na lista [0, 2, 4]

    - o índice 0 e 2 cumprem os requisitos
    - os índices 1 e 3 não estão na lista
    - o índice 4 não existe

'''

df[
    (df.AAA <= 6) &
    (df.index.isin(
            [0, 2, 4]
        )
    )
]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30